h1,
.btn-cat
{
  font-family: "bw quinta pro";
}

.text-cat,
.footer-text
{
  font-family: "noto sans ";

}

.products-text {
  font-size: 17px;
  font-family: "bw quinta pro";
}


//product page

.product-title{
  font-family: "bw quinta pro";
font-weight: bold;
}