/* home css */
h1,
.btn-cat
{
  font-family: "bw quinta pro";
}

.text-cat,
.footer-text
{
  font-family: "noto sans ";
  font-size: 16px;

}

.text-home {
  font-family: "bw quinta pro";
}
.popular{
  font-family: "bw quinta pro";

}
.product-list{
  font-family: "bw quinta pro";

}

  //product page

.product-title{
  font-family: "bw quinta pro";
font-weight: bold;
  font-size: 18px;
}

