/* menu css */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

h3,
.nav-text {
  font-family: "bw quinta pro";
}

.brand-name h3 {
  font-family: "LobsterTwo";
  text-align: center;
  font-size: 44px;
  margin-top: 41px;
  margin-bottom: -24px;
}

.btn-nav {
  font-family: "noto sans ";
  font-size: 17px;
}

.navbar {
  padding: 15px 10px;
  background: white;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

img.menu-logo-img {
  height: 50px;
  width: auto;
}

.menu-shop {
  font-size: 0.8em;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: black;
  color: white;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: white;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: black;
  color: white;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: black;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

#sidebar ul p {
  color: white;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
  background: white;
}

#sidebar ul li.active > a,
a[aria-expanded=true] {
  color: black;
  background: white;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
}

a.Shipping,
a.return {
  background: white !important;
  color: black !important;
}

a.Shipping,
a.Shipping:hover {
  background: black !important;
  color: white !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/* contact css */
.contact-page {
  /*form start*/
}
.contact-page h3 {
  font-family: "bw quinta pro";
  font-size: 30px;
}
.contact-page .head-text {
  font-family: "bw quinta pro";
  font-weight: bold;
}
.contact-page .box {
  padding: 60px 0px;
}
.contact-page .icon {
  font-size: 30px;
}
.contact-page .icon:hover {
  font-size: 30px;
  color: white;
}
.contact-page .box-part {
  background: white;
  padding: 60px 0px;
  margin: 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: 1px solid black;
}
.contact-page .box-part:hover {
  background: black;
  border: 2px solid white;
}
.contact-page .box-part:hover .fa,
.contact-page .box-part:hover .title,
.contact-page .box-part:hover .text,
.contact-page .box-part:hover a {
  color: white;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.contact-page .text {
  margin: 20px 0px;
}
.contact-page .fa {
  color: white;
}
.contact-page h2 {
  color: black;
}
.contact-page .text-muted {
  font-family: "bw quinta pro";
}
.contact-page .contact:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.contact-page form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.contact-page input,
.contact-page textarea,
.contact-page .form-control {
  outline: none;
  border: none;
}
.contact-page textarea#msg:focus {
  border: 1px solid black;
  background-color: white;
  box-shadow: none;
}
.contact-page .input-field {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}
.contact-page .input-field:hover {
  border: 2px solid black;
  cursor: pointer;
}
.contact-page label {
  font-weight: 500;
}
.contact-page #msg {
  height: 220px;
}
.contact-page .btn-contact {
  background-color: black;
  color: white;
  padding: 10px 10px;
  width: 200px;
  margin: 10px auto;
}
.contact-page .btn-contact:hover {
  color: black;
  padding: 10px 10px;
  width: 200px;
  margin: 10px auto;
  border: 2px solid black;
  background-color: white;
}
.contact-page .about-text {
  font-size: 22px;
  font-family: "noto sans ";
}
.contact-page .image-text {
  font-family: "noto sans ";
}
.contact-page h1 {
  font-family: "bw quinta pro";
}

/* home css */
h1,
.btn-cat {
  font-family: "bw quinta pro";
}

.text-cat,
.footer-text {
  font-family: "noto sans ";
}

.products-text {
  font-size: 17px;
  font-family: "bw quinta pro";
}

.product-title {
  font-family: "bw quinta pro";
  font-weight: bold;
}

/* shopping cart css */
.cart-page .title {
  margin-bottom: 8vh;
  font-family: "bw quinta pro";
}
.cart-page .card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  border: transparent;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
}
.cart-page .cart {
  background-color: white;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.cart-page .summary {
  padding: 4vh;
  background-color: lightgray;
}
.cart-page .summary .col-2 {
  padding: 0;
}
.cart-page .summary .col-10 {
  padding: 0;
}
.cart-page .row {
  margin: 0;
}
.cart-page .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.cart-page .col-2,
.cart-page .col {
  padding: 0 1vh;
}
.cart-page a {
  padding: 0 1vh;
}
.cart-page .close {
  margin-left: auto;
  font-size: 0.7rem;
}
.cart-page img {
  width: 3.5rem;
}
.cart-page .back-to-shop {
  margin-top: 4.5rem;
}
.cart-page h5 {
  margin-top: 4vh;
}
.cart-page form {
  padding: 2vh 0;
}
.cart-page select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
}
.cart-page input {
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
}
.cart-page input:focus::-webkit-input-placeholder {
  color: transparent;
}
.cart-page .btn {
  background-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  font-family: "bw quinta pro";
}
.cart-page a {
  color: black;
}
.cart-page a:hover {
  color: black;
  text-decoration: none;
}
@media (max-width: 767px) {
  .cart-page .card {
    margin: 3vh auto;
  }
}
@media (max-width: 767px) {
  .cart-page .cart {
    padding: 4vh;
  }
}
@media (max-width: 767px) {
  .cart-page .cart {
    padding: 4vh;
  }
}

/* payment css */
.payment-page .card {
  border: none;
}
.payment-page .form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}
.payment-page .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}
.payment-page .inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.payment-page .inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}
.payment-page .inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
}
.payment-page input::-webkit-outer-spin-button,
.payment-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.payment-page .inputbox input:focus ~ span {
  transform: translateX(0px) translateY(-15px);
  font-size: 12px;
}
.payment-page .inputbox input:valid ~ span {
  transform: translateX(0px) translateY(-15px);
  font-size: 12px;
}
.payment-page .hightlight {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}
.payment-page .decoration {
  text-decoration: none;
  font-size: 14px;
}
.payment-page .decoration:hover {
  text-decoration: none;
  color: #fdcc49;
}

/* auth css */
.auth-page {
  min-height: 80vh;
}
.auth-page .bg {
  background-color: black;
  color: white;
}
.auth-page .login-text h3 {
  font-size: 30px;
  margin-top: 20px;
  font-family: "bw quinta pro";
}

/* product_detail css */
.product-detail-page {
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.product-detail-page .product-detail-thumbs {
  flex-direction: row;
  overflow-x: scroll;
  max-width: 100%;
  max-height: 150px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
@media screen and (min-width: 768px) {
  .product-detail-page .product-detail-thumbs {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 70vh;
    overflow-y: scroll;
  }
}
.product-detail-page .product-detail-thumbs::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=main.css.map */
