@use 'variables' as v;

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

h3,
.nav-text
{
  font-family: "bw quinta pro";

}

.brand-name h3 {
  font-family: "LobsterTwo";
  text-align: center;
  font-size: 44px;
  margin-top: 41px;
  margin-bottom: -24px;
}

.btn-nav{
  font-family: "noto sans ";
  font-size: 17px;

}

.navbar {
  padding: 15px 10px;
  background: v.$primary_color;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

img.menu-logo-img {
  height: 50px;
  width: auto;
}

.menu-shop {
  font-size: 0.8em;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: v.$secondary_color;
  color: v.$primary_color;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: v.$primary_color;
  color: v.$secondary_color;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: v.$secondary_color;
  color: v.$primary_color;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: v.$secondary_color;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid v.$secondary_color;
}

#sidebar ul p {
  color: v.$primary_color;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: v.$secondary_color;
  background: v.$primary_color;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: v.$secondary_color;
  background: v.$primary_color;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: v.$secondary_color;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: v.$primary_color;
  color: v.$secondary_color;
}
a.Shipping,
a.return {
  background: v.$primary_color!important;
  color: v.$secondary_color!important;
}

a.Shipping,
a.Shipping:hover {
  background: v.$secondary_color !important;
  color: v.$primary_color !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
